.container--ph {
    height: 0;
    width: 70%;
    padding-top: 20%;
    position: relative;
  }
  
  .svg--responsive {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .fil3d:hover{
  
    fill:red;
  
  }
    /* HOVER STYLES */
    div#pop-up {
        display: none;
        position: absolute;
        width: 280px;
        padding: 10px;
        background: #eeeeee;
        color: #000000;
        border: 1px solid #1a1a1a;
        font-size: 90%;
        }